<%= render "shared/header" %>
<div class="create-item" class="serif">
  <%= image_tag 'salad_senbei.png'%>
  <%=link_to new_item_path do%>新しくおせんべいを登録<% end %>
  <%= image_tag 'seawead_okaki.png'%>
</div>
<div class="wrapper">
  <ul class='item-lists'>
    <% i = 0 %>
    <% @items.each do |item|%>
      <% if i % 3 == 0 %>
      <li class='list bg-img'>
      <% elsif i % 3 == 1 %>
      <li class='list bg-img1'>
      <% else %>
      <li class='list bg-img2'>
      <% end %>
      <% i += 1 %>
        <%#= link_to item_path(item.id) do %>
        <div class='item-img-content'>
          <% if @newest_img == nil %>
          <%= image_tag "senbei-mix.png", class: "item-img" %>
          <% else %>
          <%= image_tag @newest_img, class: "item-img" %>
          <% end %>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= item.item_name %>
          </h3>
          <div class='item-maker'>
            <span>メーカー:<%= item.maker %><br><%#= item.region %></span>
          </div>
          <div class="taste-reviews">
            <ul>
              <li>塩:</li>
              <li>甘:</li>
              <li>香:</li>
              <li>固:</li>
              <li>独:</li>
              <li>地:</li>
            </ul>
        </div>
        <%# end %>
      </li>
    <% end %>
  </ul>
</div>

<%= render "shared/footer" %>

